# CMI Master Thing
cmi_gui/cmi_R2015a-master/*

# MATLAB output files.
*.asv
/helpers/*.asv
*.m~
/helpers/*.m~
*.csv

# MAC Files
/cmi_gui/**/__MACOSX/
/
# Python Files
/c_builder/*.pyc
/c_builder/*.csv
/c_builder/env

# VS Code settings
**/.vscode/