table {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
}

input {
    font-size: 20px;
}

td {
    padding: 0 15px 0 15px;
}

.vl {
    border-left: 2px solid;
    height: 20px;
    padding-left: 3px;
    padding-right: 3px;
}

#explanation {
    display: none;
    padding: 5px;
    margin: 5px;
    width: 60%;
}

.pt_id {
    color: red;
}

.timepoint {
    color: blue;
}