<!doctype HTML>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='func.js') }}"></script>


<body>
    <h1>Hello World!</h1>
    <p>This is the index page</p>
    <input type='button' value="Select Directory" onclick="select_dir()" />
    <input id="timepoint_cb" type='checkbox'/> <label for="timepoint_cb">Time Point Data</label> <span class="vl"></span>
    <input type='button' value="Load C" onclick="load_C()" /> <span class="vl"></span>
    <input type='button' value="Export to File" onclick="export_file()" /> <span class="vl"></span>
    <input type='button' value="Clear Directory" onclick="clear_dir()" />
    <hr/>
    <input type='button' value="Hide/Show Explanation" onclick="hide_show()" />
    <div id="explanation">
        <h2>Select Directory</h2>
        <p>Reads files in a directory and generates a file pane to add the data.</p>
        <p>Setting the "Time Point Data" checkbox specifies that it will be reading data with distinct time points, and will adjust the folder structure appropriately.</p>

        <h4>Example</h4>
        <p>Add Example here.</p>

        <h2>Load C</h2>
        <p>Alternative to "Select Directory", generate the file pane from a pre-existing C file.</p>
        <h2>Export to File</h2>
        <p>Based on the data input, generates a csv file.</p>
        <h2>Clear Directory</h2>
        <p>Clears the file pane.</p>
    </div>

    <hr/>
    <div id="sample_div">
        Sample Directory info goes here
        <table id='sample_table'></table>
    </div>
</body>

</html>