<!doctype HTML>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='func.js') }}"></script>


<body>
    <h1>Hello World!</h1>
    <p>
        This is the index page.<br/>
        Before running, please hard refresh (Command+Shift+R or Ctrl+Shift+R) the page to ensure you're using the most up-to-date version of the dependencies.
    </p>
    <input type='button' value="Select Directory" onclick="select_dir()" />
    <input id="timepoint_cb" type='checkbox'/> <label for="timepoint_cb">Time Point Data</label> <span class="vl"></span>
    <input type='button' value="Load C" onclick="load_C()" /> <span class="vl"></span>
    <input type='button' value="Export to File" onclick="export_file()" /> <span class="vl"></span>
    <input type='button' value="Clear Directory" onclick="clear_dir()" />
    <hr/>
    <input type='button' value="Hide/Show Explanation" onclick="hide_show()" />
    <div id="explanation">
        <h2>Select Directory</h2>
        <p>Reads files in a directory and generates a file pane to add the data. Make sure ALL the files are in the proper folders before running this.</p>
        <p>Setting the "Time Point Data" checkbox specifies that it will be reading data with distinct time points, and will adjust the folder structure appropriately.</p>

        <h4>Example</h4>
        <p>Suppose the sample directory is:</p>
        <ul>
            <li>/<span class="pt_id">25793A1757</span>_<span class="timepoint">T02</span>_Exp.mhd</li>
            <li>/<span class="pt_id">25793A1757</span>_<span class="timepoint">T02</span>_Exp_label.mhd</li>
            <li>/<span class="pt_id">25793A1757</span>_<span class="timepoint">T02</span>_Ins.mhd</li>
        </ul>
        <p>
            Where <span class="pt_id">25793A1757</span> corresponds to the patient ID, and <span class="timepoint">T02</span> corresponds to the time point. Since time points follow the pattern T0#, the corresponding
            Regular Expression would be "T0[0-9]"; This matches the characters "T0" followed by any number from zero to nine. The Regular Expression for the patient ID
            would be "([^_/]+)" the explanation for this expression is provided below.<br/>
        </p>
        <p>
            The "[^_/]" part of the regular expression matches any character that is not the underscore (ie: "_", which seperates name components) or the forward slash (ie: "/", which seperates file directories).
            If, for example, you wanted to match any non-numeric character, the corresponding use would be "[^0-9]". The "+" denotes that it should look for at least one matching character;
            this allows for it to match the IDs 3A423 as well as 5HD8423B2, even though they are of differing lengths. Lastly, the parentheses surrounding are used simply to seperate the expression from the rest
            of the text, mostly for readability. So, the resulting regular expressions would be:
        </p>
        <ul>
            <li>/<span class="pt_id">([^_/]+)</span>_<span class="timepoint">T0[0-9]</span>_Exp.mhd</li>
            <li>/<span class="pt_id">([^_/]+)</span>_<span class="timepoint">T0[0-9]</span>_Exp_label.mhd</li>
            <li>/<span class="pt_id">([^_/]+)</span>_<span class="timepoint">T0[0-9]</span>_Ins.mhd</li>
        </ul>
        <p>
            A helpful tool for testing regular expressions is <a href="http://regex101.com" target="_blank">regex101.com</a>, which allows for testing of regular expression matching against some test text.<br/> 
            <i>NOTE: Make sure to select python in the menu of flavors/programming languages.</i>
        </p>

        <h2>Load C</h2>
        <p>Alternative to "Select Directory", generate the file pane from a pre-existing C file.</p>
        <h2>Export to File</h2>
        <p>Based on the data input, generates a csv file.</p>
        <h2>Clear Directory</h2>
        <p>Clears the file pane.</p>
    </div>

    <hr/>
    <div id="sample_div">
        Sample Directory info goes here
        <table id='sample_table'></table>
    </div>
</body>

</html>